<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i>
          Users
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="btn-group" *ngIf="!this.isLoggedIn">
      <button class="nav-link btn btn-outline-success" [routerLink]="['/login']">Login</button>
      <button class="nav-link btn btn-outline-success" [routerLink]="['/register']">Register</button>
    </div>
    <div class="btn-group" *ngIf="this.isLoggedIn">
      <button class="nav-link btn btn-outline-success" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
